@model Employee
@{
    ViewData["Title"] = "Edit Employee";
    Layout = "_LayoutOptions";
}

<div class="row justify-content-center m-3">
    <div class="col-md-8 m-3 card">
        <p class="lead row justify-content-center fs-4">Edit Employee</p>

        <form asp-controller="Employee" asp-action="EditEmployee" method="post">

            <input asp-for="EmployeeId" type="hidden" />

            <div class="input-group input-group-md mb-3 col-8">
                <label class="input-group-text col-4 rounded-3 border border-end-0 border-3">Employee Name :</label>
                <input asp-for="EmployeeName" class="form-control col-4 rounded-3 border border-start-0 border-3" type="text" />
                <span asp-validation-for="EmployeeName" class="text-danger"></span>
            </div>

            <div class="input-group input-group-md mb-3 col-8">
                <label class="input-group-text col-4 rounded-3 border border-end-0 border-3">Employee Email :</label>
                <input asp-for="EmployeeEmail" class="form-control col-4 rounded-3 border border-start-0 border-3" type="text" />
                <span asp-validation-for="EmployeeEmail" class="text-danger"></span>
            </div>

            <div class="input-group input-group-md mb-3 col-8">
                <label class="input-group-text col-4 rounded-3 border border-end-0 border-3">Employee Job :</label>
                <input asp-for="EmployeeJob" class="form-control col-4 rounded-3 border border-start-0 border-3" type="text" />
                <span asp-validation-for="EmployeeJob" class="text-danger"></span>
            </div>



            <div class="input-group input-group-md mb-3 col-8">
                <input type="submit" value="Submit" class="w-100 btn btn-lg btn-primary" />
            </div>
        </form>
    </div>
</div>



