@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center card" style="height:200px;">
    <div class="card-header fw-semibold">
        Welcome
    </div>
    <div class="card-body">
        <h5 class="card-title">Employee Management System</h5>

        <p class="card-text">System have two kind of action One is for Employees.Other one is for HR Team.</p>
        
    </div>
    
</div>
